:root {
    --orange : #FF6500;
    --blue: #1E3E62;
    --blackblue: #0B192C;
    --black: #000000;
    --white: #ffffff;
}

body {
    background-color: var(--blackblue);
    margin: 0;
}

#juanollo {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;
    top: 4rem;

    left: 50%;
    transform: translate(-50%, -50%);
    
    /* font-family: "Fraunces", serif; */
    font-family: "Dancing Script", cursive;
    color:#000000;
}

#juanollo *, #juanollo *:visited {
    color:#1E3E62;
}

#juanollo *:hover {
    color: #FF6500;
}

#version {
    position: relative;
    top: -1.8rem;
    left: 1.5rem;
    font-size: 1.5rem;
    color: #1E3E62;
    height: 0;
    font-family: "Calculator", sans-serif;
    max-width: 90vw;
}

.container {
    background-color: var(--black);
    width: 25rem;
    height: 36rem;
    margin: calc(50vh - 18rem) auto 0;
    border-radius: 2rem;
    
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.screen {
    /* display: block; */
    background-color: var(--blue);
    width: 90%;
    height: 5rem;
    /* max-height: 13%; */
    margin: 1.5rem auto 1rem;
    border-radius: 1rem;
    padding-right: 12px;
    padding-bottom: 6px;
    
    font-family: "Calculator", sans-serif;
    overflow: hidden;

    /* display: flex;
    justify-content: flex-end;
    white-space: nowrap; */
}

/* .screen * {
    background-color: red;
} */

#screen-resultado {
    /* background-color: red; */
    height: 4rem;
    text-align: right;
    font-size: 60px;
    font-weight: 100;
    font-family: "Calculator", sans-serif;
    color: var(--white);
    margin-top: -1.4rem;

    display: flex;
    justify-content: flex-end;
    /* white-space: nowrap; */
}

#historial-btn {
    background-color: var(--blackblue);
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1rem;
    border-radius: 50%;
    /* margin: 0 auto; */
    padding: 0;
}

#historial-list {
    
    /* background-color: red; */
    color: var(--white);
    font-size: 3rem;
    height: 80%;
    width: 81%;
    text-align: end;
    list-style: none;
    margin-top: -1.7rem;
    /* margin: -1.7rem auto 0; */
    
    padding-right: 1.5rem;
    overflow-y: scroll;
    /* overflow-x: clip; */
    scrollbar-width: thin;
    scrollbar-color: var(--blackblue) transparent;

    display:none;
}

#historial-list hr {
    margin-bottom: -2.3rem;
    opacity: 20%;
}

#historial-list h2{
    font-weight: 100;
    font-size: 3rem;
    height: 1rem;

    display: flex;
    justify-content: end;
}
#historial-list h3 {
    font-weight: 100;
    font-size: 1rem;
    height: 0;
    color: rgb(153, 157, 182);
    margin-right: 0.7rem;
}

.historial {
    position: relative;
    top: 5.2rem;
    right: 2.2rem;
    width: 100%;
    height: 0;
    font-size: 1rem;
    font-family: "Calculator", sans-serif;
    color: rgb(153, 157, 182);
    text-align: end;

    letter-spacing: 1px;

    z-index: 2;
}

.buttons {
    height: 80%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-template-rows: repeat(5, 1fr);
    row-gap: 1rem;
    margin: 1rem;
}

button {
    background-color: var(--blue);
    border: none;
    border-radius: 1rem;
    /* color: #FF6500; */
    color: aliceblue;
    height: 4.5rem;
    width: 4.5rem;
    margin: auto;

    font-size: 2rem;
    font-weight: bolder;
    font-family: "Agdasima", sans-serif;
    /* font-weight: 900; */
    font-style: normal;
}

.operator {
    color: #FF6500;
    font-size: 2.5rem;
}

#point-btn {
    font-size: 2.5rem;
}

#equal-btn {
    /* grid-column: 3/5; */
    /* width: 10rem; */
    /* width: 4.5rem; */
    background-color: var(--orange);
    border-color: var(--blackblue);
    font-size: 36px;
    /* grid-row: 5/6; */
}

#clear-btn {
    background-color: crimson;
} 

#sup-btn {
    color: crimson;
    font-size: 3rem;
}

button:hover {
    cursor: pointer;
    scale: 1.2;
}

/* #equal-btn:hover {
    scale: 1.15;
} */

#error-msj {
    /* background-color: #1E3E62; */
    color:silver;
    padding: 0.7rem;
    width: fit-content;
    margin: 3rem auto;
    /* margin: 0 auto; */
    border-radius: 1rem;
    
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: "Agdasima", sans-serif;
    font-style: normal;
}

.hide {
    background-color: transparent;
}

@media only screen and (max-height: 50rem) {
    .container{
        margin-top: 5rem;
    }
    #error-msj {
        position: absolute;
        margin: 0;
        text-align: center;

        top: 2.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
    }
    #juanollo {
        top: 2rem;
    }
}

@media only screen and (max-width : 25rem) {
    .container{
        max-width: 96vw;
        height: 150vw;
    }
    .buttons *{
        height: 17vw;
        width: 17vw;
    }
    .buttons *:hover,
    #historial-btn:hover{
        cursor: default;
    }
    #juanollo{
        font-size: 1.4rem;
    }
}

@keyframes input-screen-anim {
    40% {
        scale: 1.035;
    }
}

@keyframes ce-screen-anim {
    30% {
        /* scale: 1.03; */
        height: 0;
        padding: 0;
        margin-bottom: 3.5rem;
        margin-top: 4rem;
        font-size: 0;
        /* border-radius: 50%; */
    }
}

@keyframes error-anim {
    10%{
        transform: rotate(3deg);
    }
    35%{
        transform: rotate(-5deg);
    }
    60%{
        transform: rotate(3deg);
    }
}

@keyframes error-anim-h2 {
    10%{
        color: crimson;
    }
    20%{
        color: crimson;
    }
}

@keyframes ce-hist-anim {
    30% {
        font-size: 0;
    }
}

@keyframes clean-hist-anim {
    90%{
        color: transparent;
    }
    100%{
        width: 1px;
        color: transparent;
    }
}

@keyframes click-anim {
    40% {
        scale: 0.85;
        background-color: #000000;
    }
    /* 100% {
        scale: 0.7;
    } */
}

@keyframes equal-screen-anim {
    0%{
        color: #1E3E62;
        background-color: #FF6500;
    }
    10%{
        background-color: #FF6500;
    }
    20% {
        scale: 1.08;
        /* color: #FF6500; */
    }
}

@keyframes equal-hist-anim {
    0%{
        color: #1E3E62;
        color: #FF6500;
    }
    10%{
        color: #FF6500;
    }
    20% {
        scale: 1.08;
    }
}

@keyframes del-screen-anim {
    0%{

        margin-left: 0.9rem;
        margin-right: 0;
    }
    25%{
        /* background-color: #FF6500; */
        width: 80%;
        padding-right: 0;
    }
    100%{

        margin-left: 0.9rem;
        margin-right: 0;
    }
}

@keyframes historial-list-anim {
    0%{
        height: 5rem;
    }
    100%{
        height: 100%;
        /* margin-bottom: auto; */
    }
}

@keyframes buttons-x-historial-anim {
    100%{
        background-color: transparent;
        color: transparent;
    }
}

@keyframes buttons-x-historial-anim-2 {
    0%{
        background-color: transparent;
        color: transparent;
    }
}